In [7]:

import mysql.connector
import pandas as pd
from mysql.connector import Error

In [2]:
cnx = mysql.connector.connect(user='root', password='pass',
                              host='127.0.0.1'
                              )
cur= cnx.cursor()
cur.execute("Create Database PRO_KABBADI")
cnx.close()

In [8]:
def create_db_connection(u_name,password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            user=u_name,
            passwd=password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

cnx=create_db_connection('root','pass','pro_kabbadi')

MySQL Database connection successful

In [9]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [16]:
df=pd.read_csv("Trailf.csv")

In [17]:
df.head()

,name,team_name,high_5s,player_team,super_10s,super_raids,super_tackles,total_defending_points,total_raid_points,red_cards,...,location,tackle_bonus_points,role,unsuccess_raids,success_raids,total_tackle_points,yellow_cards,green_cards,points_per_match_raid_tackle,points_defence_offence
0,Takamitsu Kono,Dabang Delhi K.C.,0,0,0,0,0,1,1,0,...,NaN,0,NaN,0,1,1,0,0,2.00,2
1,Simon Kibura,Puneri Paltan,0,0,0,0,0,2,9,0,...,NaN,0,NaN,6,8,2,0,0,1.22,11
2,Jang Lee,Patna Pirates,0,0,9,14,4,25,471,0,...,NaN,0,NaN,229,376,25,0,2,4.68,496
3,Taedeok Eom,Patna Pirates,0,0,0,0,1,8,14,0,...,NaN,0,NaN,12,10,8,0,0,0.63,22
4,Sanjay Shrestha,Puneri Paltan,0,0,0,0,0,0,0,0,...,NaN,0,NaN,0,0,0,0,0,0.00,0

In [19]:
df.shape

(560, 38)

In [20]:
df=df.drop(['raid_map_locations','location','role'],axis=1)

In [22]:
df=df.dropna()

In [24]:
df.shape

(550, 35)

In [25]:
df.isna().sum()

name                            0
team_name                       0
high_5s                         0
player_team                     0
super_10s                       0
super_raids                     0
super_tackles                   0
total_defending_points          0
total_raid_points               0
red_cards                       0
raid_bonus_points               0
success_tackles                 0
defence_touch_points            0
defending_bonus_points          0
raid_touch_points               0
unsuccesful_tackles             0
success_raid_percent            0
empty_raid                      0
tackle_success_rate             0
raids                           0
match_player                    0
tackles                         0
points                          0
raid_points_per_match           0
not_out_percentage              0
success_tackles_per_match       0
career_best_points              0
tackle_bonus_points             0
unsuccess_raids                 0
success_raids                   0
total_tackle_points             0
yellow_cards                    0
green_cards                     0
points_per_match_raid_tackle    0
points_defence_offence          0
dtype: int64

In [30]:
table_data='''CREATE TABLE INFO (
name VARCHAR(30),
team_name VARCHAR(20),
high_5s INT,
player_team INT,
super_10s INT,
super_raids INT,
super_tackles INT,
total_defending_points INT,
total_raid_points INT,
red_cards INT,
raid_bonus_points INT,
success_tackles INT,
defence_touch_points INT,
defending_bonus_points INT,
raid_touch_points INT,
unsuccesful_tackles INT,
success_raid_percent INT,
empty_raid INT,
tackle_success_rate INT,
raids INT,
match_player INT,
tackles INT,
points INT,
raid_points_per_match INT,
not_out_percentage INT,
success_tackles_per_match INT,
career_best_points INT,
tackle_bonus_points INT,
unsuccess_raids INT,
success_raids INT,
total_tackle_points INT,
yellow_cards INT,
green_cards INT,
points_per_match_raid_tackle INT,
points_defence_offence INT
); '''

In [32]:
execute_query(cnx,table_data)

Query successful

In [33]:
insert_table_data=''' INSERT INTO info(name,team_name,high_5s,player_team,super_10s,super_raids,super_tackles,total_defending_points,total_raid_points,red_cards,raid_bonus_points,success_tackles,defence_touch_points,defending_bonus_points,raid_touch_points,unsuccesful_tackles,success_raid_percent,empty_raid,tackle_success_rate,raids,match_player,tackles,points,raid_points_per_match,not_out_percentage,success_tackles_per_match,career_best_points,tackle_bonus_points,unsuccess_raids,success_raids,total_tackle_points,yellow_cards,green_cards,points_per_match_raid_tackle,points_defence_offence)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
'''

In [34]:
conec=cnx.cursor()
for i,row in df.iterrows():
    conec.execute(insert_table_data,list(row))

cnx.commit()

In [35]:
cnx.close()