In [1]:
import mysql.connector
import pandas as pd
from mysql.connector import Error

In [2]:
cnx = mysql.connector.connect(user='root', password='Omkar@1600',
                              host='127.0.0.1'
                              )
cur= cnx.cursor()
cur.execute("Create Database PRO_KABBADI")
cnx.close()

In [3]:
def create_db_connection(u_name,password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            user=u_name,
            passwd=password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

cnx=create_db_connection('root','Omkar@1600','pro_kabbadi')

MySQL Database connection successful

In [4]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [5]:
df=pd.read_csv("Trailf.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          560 non-null    object
 1   team_name                     560 non-null    object
 2   high_5s                       560 non-null    int64
 3   player_team                   560 non-null    int64
 4   super_10s                     560 non-null    int64
 5   super_raids                   560 non-null    int64
 6   super_tackles                 560 non-null    int64
 7   total_defending_points        560 non-null    int64
 8   total_raid_points             560 non-null    int64
 9   red_cards                     560 non-null    int64
 10  raid_bonus_points             560 non-null    int64
 11  success_tackles               560 non-null    int64
 12  defence_touch_points          560 non-null    int64
 13  defending_bonus_points        560 non-null    int64
 14  raid_touch_points             560 non-null    int64
 15  unsuccesful_tackles           560 non-null    int64
 16  success_raid_percent          560 non-null    int64
 17  empty_raid                    560 non-null    int64
 18  tackle_success_rate           560 non-null    float64
 19  raids                         560 non-null    int64
 20  match_player                  560 non-null    int64
 21  tackles                       560 non-null    int64
 22  points                        560 non-null    int64
 23  raid_points_per_match         550 non-null    float64
 24  not_out_percentage            560 non-null    float64
 25  success_tackles_per_match     550 non-null    float64
 26  career_best_points            560 non-null    int64
 27  raid_map_locations            0 non-null      float64
 28  location                      0 non-null      float64
 29  tackle_bonus_points           560 non-null    int64
 30  role                          0 non-null      float64
 31  unsuccess_raids               560 non-null    int64
 32  success_raids                 560 non-null    int64
 33  total_tackle_points           560 non-null    int64
 34  yellow_cards                  560 non-null    int64
 35  green_cards                   560 non-null    int64
 36  points_per_match_raid_tackle  550 non-null    float64
 37  points_defence_offence        560 non-null    int64
dtypes: float64(8), int64(28), object(2)
memory usage: 166.4+ KB

In [10]:
table_data='''CREATE TABLE INFO (
name VARCHAR(20),
team_name VARCHAR(20),
high_5s INT,
player_team INT,
super_10s INT,
super_raids INT,
super_tackles INT,
total_defending_points INT,
total_raid_points INT,
red_cards INT,
raid_bonus_points INT,
success_tackles INT,
defence_touch_points INT,
defending_bonus_points INT,
raid_touch_points INT,
unsuccesful_tackles INT,
success_raid_percent INT,
empty_raid INT,
tackle_success_rate INT,
raids INT,
match_player INT,
tackles INT,
points INT,
raid_points_per_match INT,
not_out_percentage INT,
success_tackles_per_match INT,
career_best_points INT,
raid_map_locations INT,
location INT,
tackle_bonus_points INT,
role INT,
unsuccess_raids INT,
success_raids INT,
total_tackle_points INT,
yellow_cards INT,
green_cards INT,
points_per_match_raid_tackle INT,
points_defence_offence INT
); '''

In [11]:
execute_query(cnx,table_data)

Query successful

In [21]:
insert_table_data=''' INSERT INTO info(name,team_name,high_5s,player_team,super_10s,super_raids,super_tackles,total_defending_points,total_raid_points,red_cards,raid_bonus_points,success_tackles,defence_touch_points,defending_bonus_points,raid_touch_points,unsuccesful_tackles,success_raid_percent,empty_raid,tackle_success_rate,raids,match_player,tackles,points,raid_points_per_match,not_out_percentage,success_tackles_per_match,career_best_points,raid_map_locations,location,tackle_bonus_points,role,unsuccess_raids,success_raids,total_tackle_points,yellow_cards,green_cards,points_per_match_raid_tackle,points_defence_offence)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
'''

In [22]:
conec=cnx.cursor()
for i,row in df.iterrows():
    conec.execute(insert_table_data,list(row))

cnx.commit()

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'