In [1]:
import mysql.connector
import pandas as pd
from mysql.connector import Error

In [2]:
def create_db_connection(u_name,password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            user=u_name,
            passwd=password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

cnx=create_db_connection('root','pass','pro_kabbadi')

MySQL Database connection successful

In [3]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [4]:
df=pd.read_csv("Season2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            8 non-null      int64
 1   Team_Names      8 non-null      object
 2   Matches_Played  8 non-null      int64
 3   Wins            8 non-null      int64
 4   Losses          8 non-null      int64
 5   Ties            8 non-null      int64
 6   Score_Diff      8 non-null      int64
 7   Points          8 non-null      int64
dtypes: int64(7), object(1)
memory usage: 640.0+ bytes

In [5]:
table_data='''CREATE TABLE SEASON2 (
rank1 INT,
teamname VARCHAR(20),
Matches INT,
Wins INT,
Losses INT,
Ties INT,
Score_diff INT,
points INT
); '''

In [6]:
execute_query(cnx,table_data)

Query successful

In [7]:
insert_data=''' INSERT INTO season2(rank1,teamname,Matches,Wins,Losses,Ties,Score_diff,points)
VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'''

In [8]:
conec=cnx.cursor()
for i,row in df.iterrows():
    conec.execute(insert_data,list(row))

cnx.commit()

In [14]:
for i in range(3,10):
    df=pd.read_csv("Season{}.csv".format(i))
    table_data='''CREATE TABLE SEASON{} (
    rank1 INT,
    teamname VARCHAR(20),
    Matches INT,
    Wins INT,
    Losses INT,
    Ties INT,
    Score_diff INT,
    points INT
    ); '''.format(i)
    
    execute_query(cnx,table_data)
    insert_data=''' INSERT INTO season{}(rank1,teamname,Matches,Wins,Losses,Ties,Score_diff,points)
    VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'''.format(i)
    
    conec=cnx.cursor()
    for i,row in df.iterrows():
        conec.execute(insert_data,list(row))

    cnx.commit()

Query successful
Query successful
Query successful
Query successful
Query successful
Query successful
Query successful

In [15]:
cnx.close()